<!-- __________________ -->
    <!--       FOOTER       -->
    <!-- ****************** -->
    <footer class="site__footer flex-group">
      <div id="logo">
        <img src="/assets/logo-light.svg" alt="logo" class="logo-img">
      </div>
      <p>&copy {% year %} Company Name | All rights reserved.</p>
    </footer>