<li class="project-card">
  <article class="project">
    <div class="project-card__image-wrapper">
      <img class="project__image" src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">
    </div>
    <div class="project-card__body flex-group">
      <h3 class="project-card__title">
        <a href="{{ project.url }}">{{ project.data.title }}</a>
      </h3>
      <p class="project-card__summary">{{ project.data.summary }}</p>
      <a href="{{ project.url }}" class="btn btn--primary">Details</a>
    </div>
  </article>
</li>