---
title: Blog
layout: 'base.njk'
---

<div class="section container">
  <h1 class="section-title">Recent Articles</h1>
  <ul role="list" class="articles__list flow">
    <li>
      <article class="snippet">
        <img src="/assets/blog/article-1.jpg" alt="grey cat">
        <h3 class="snippet__title"><a href="/blog">Another Article</a></h3>
        <p class="snippet__meta">by <span>Sharona Young</span> on <span>Sep 30, 2023</span></p>
        <p class="snippet__body">This is the newest chronicle of kitten mayhem and cuteness</p>
        <a href="/blog/first-article" class="btn btn--primary">Continue Reading</a>
      </article>
    </li>
    <li>
      <article class="snippet">
        <img src="/assets/blog/article-2.jpg" alt="cute cat">
        <h3 class="snippet__title"><a href="/blog/second-article">Second Article</a></h3>
        <p class="snippet__meta">by <span>Sharona Young</span> on <span>Sep 25, 2023</span></p>
        <p class="snippet__body">Hide when guests come over behind the couch inspect anything brought into the house lick butt give attitude</p>
        <a href="/blog/second-article" class="btn btn--primary">Continue Reading</a>
      </article>
    </li>
    <li>
      <article class="snippet">
        <img src="/assets/blog/article-3.jpg" alt="cute cat">
        <h3 class="snippet__title"><a href="/blog/third-article">Third Article</a></h3>
        <p class="snippet__meta">by <span>Sharona Young</span> on <span>Sep 20, 2023</span></p>
        <p class="snippet__body">Hunt anything that moves behind the couch shake treat sweet beast under the bed lick butt chase imaginary bugs inspect anything brought into</p>
        <a href="/blog/third-article" class="btn btn--primary">Continue Reading</a>
      </article>
    </li>
  </ul>
</div>