---
title: Projects
layout: 'base.njk'
---

<section class="projects container">
  <h1 class="section-title txt-ctr ">Recent projects</h1>
  <ul role="list" class="projects__list">
    {% for project in collections.projects %}
      {% include "project-card.njk" %}
    {% endfor %}
  </ul>
</section>